.page {
  text-align: center;
}

.link {
    color: $link_color;
    text-align: right;
    margin-top: 10px;
    text-decoration: underline;
}
.link:hover {
    color: $link_hover_color;
    cursor: pointer;
    text-decoration: none;
}
.header_link {
  color: $header_link_color;
  text-decoration: underline;
}
.header_link:hover {
  color: $header_link_hover_color;
  cursor: pointer;
  text-decoration: none;
}
#add_to_basket_btn {
  background-color: $main_btn_color;
  color: white;
}
#basket_forward_btn {
  color: $main_btn_color
}
.card {
  background-color: white;
  border-radius: 15px;
  margin: 20px auto auto auto;
  padding: 20px;
}

.page_title {
  margin: 10px 0px 0px 20px;
  text-align: left;
}

.sub_category_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sub_category_menu {
  padding-right: 0px;
}

.sub_category_btn {
  margin-left: 10px;
  border-radius: 8px;
  width: 15px;
  height: 15px;
  box-shadow: none;
}

.empty_page_header {
  text-align: center;
  margin: 20px auto;
}
#cost_info {
  display: flex;
}
#cost_with_discount {
  color: grey;
  margin-left: 5px;
}