$main_bcg_color: #E0D8C1;
$link_color: darkblue;
$link_hover_color: blue;
$header_link_color: #1a642d;
$header_link_hover_color: #2fad4e;
$comment_bcg_color: white;
$main_btn_color: rgb(99, 113, 233);
